@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* place web font source URLs at the very top of the style sheet */


/* --- TABLE OF CONTENTS ----------------------------------- 

		• MENU NAVIGATION COMPONENTS
			- Arrow Navigation Buttons
			– FONT-AWESOME (Arrow Chevrons)
		
		• LAYOUT STRUCTURE
			- Header Elements
			- Client Custom Branding Elements 
				- Featured "Hero & Mini" Headers									
			- Body Content Area
			- Transparent Fade-out Body Content
			- 2-Column Page Layout
		
		• TYPOGRAPHY
			- @fontface
			- Header styles
			- List styles
			- MISC. styles
		
		• RIGHT-RAIL MODULES
			- ModuleStyle-1 Hyperlink Styles
		
		• !!!TESTING AREA ONLY!!!
			
		• RESPONSIVE STYLING
			- CSS pulldown nav style
		
------------------------------------------------------------*/



html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #fff;
	font-weight: 400;
	font-size: 100%;
	color: #333;
	height: 100%;
}

.js body { overflow: hidden; }


		
		

/************************************
	LAYOUT STRUCTURE
************************************/


.container,
.bb-custom-wrapper,
.bb-bookblock { width: 100%; height: 100%; }

.container {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
	}

.slideRight { left: 240px; }

.no-js .container { padding-left: 240px; }




/************************************
	MENU NAVIGATION COMPONENTS
************************************/


.menu-panel {
	background: #f1103a;
	width: 240px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	}

.js .menu-panel { position: absolute; left: -240px; }

.menu-panel h3 {
	font-size: 1.8em;
	padding: 20px;
	font-weight: 300;
	color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
	} 

.menu-toc { list-style: none; }

.menu-toc li a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	line-height: 3.5;
	padding: 0 20px;
	cursor: pointer;
	background: #f1103a;
	border-bottom: 1px solid #dd1338;
	}

.menu-toc li a:hover,
.menu-toc li.menu-toc-current a {
	background: #dd1338;
	}

.menu-panel div { margin-top: 20px; }

.menu-panel div a {
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1;
	padding: 5px 20px;
	display: block;
	border: none;
	color: #bc0b0b;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: 0 1px rgba(255,255,255,0.2);
	} 

.menu-panel div a:hover {
	background: inherit;
	color: #fff;
	text-shadow: none;
	}


/**/
.bb-custom-wrapper nav,
#masthead nav {
top: 14px;
	left: 60px;
	position: absolute;
	z-index: 1000;
	}

.bb-custom-wrapper nav span,
#masthead nav span,
.menu-button {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 0;
	left: 0;
	background: #f1103a;
	border-radius: 50%;
	color: #fff;
	line-height: 30px;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
}

.bb-custom-wrapper nav span:hover,
#masthead nav span:hover,
.menu-button:hover {
	background: GREEN;
	}

.bb-custom-wrapper nav span:last-child,
#masthead nav span:last-child  { left: 40px; }




.menu-button {
	z-index: 1000;
	left: 20px;
top: 14px;
	text-indent: -9000px;
}

.menu-button:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background: #fff;
	top: 50%;
	margin-top: -1px;
	left: 25%;
	box-shadow: 0 -4px #fff, 0 4px #fff;
}

		.no-js .bb-custom-wrapper nav span,
.no-js #masthead nav span,
.no-js .menu-button {
	display: none;
	}



/* ------- Arrow Navigation Buttons ------- */

.arrow_nav { 
	/**/ float: right; 
	position: relative;
	top: 10px; right: 15%;
	z-index: 2500;
	}

.arrow_nav span {
	border-radius: 50%;
	color: #0094ba;
	cursor: pointer;
	font-weight: bold;
	line-height: 30px;
	position: absolute; top: -5px; left: 0;
	speak: none;
	text-align: center;
	width: 32px; height: 32px;
	}
	
.arrow_nav span:last-child { left: 40px; }	
		
.no-js .arrow_nav { display: none; } /* hides the menu-button if JavaScript isn't enabled */



/* ------- FONT-AWESOME (Arrow Chevrons) ------- */

		.fa-chevron-circle-left:before,
		.fa-chevron-circle-right:before {
			color: white;
			font-size: 2.3em; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			position: relative; top: 1px;
			text-decoration: inherit;
			/* text-shadow: 1px 1px 1px #ccc, -1px -1px 1px #999; */
			}
		
		.fa-chevron-circle-left,
		.fa-chevron-circle-right { opacity:0.2; filter:alpha(opacity=20);  /* For IE8 and earlier */ }
		
		.fa-chevron-circle-left:hover,
		.fa-chevron-circle-right:hover { opacity:0.4; filter:alpha(opacity=40);  /* For IE8 and earlier */ }





/************************************
	LAYOUT STRUCTURE
************************************/



/* ------ Header Elements ------ */

#masthead {
	/*background: #34bfd9 url(../img/bg_culture_desktop.png) no-repeat 73% 42%;*/
	background-size: 210px auto; /* rescales bg image to look sharper for iPhone/iPad hi-rez displays */
	
	margin: 0 auto; /* 5% or use "auto" to center the layer */
	position: relative;
	padding: 11px 0px 0px; 
	text-align: left;
	width: 974px; /* 90%; 974px */ height: 69px; /* usually "0" by default; declared only as needed */
	/* using "width px" = flush right-side perfectly with the last main-nav */
	/* using "width %" = keeps both left & right margins evenly scaled relative to the browser's width */
	z-index: 2000;
	}
	
.logo { width: auto; height: 36px; margin: 0; padding: 0;  /**/ float: right; }

.bg-header { /* this is where you can define the BG color for the header, visible just above the main nav */
	background: #949494; /* #171925 Old browsers */

	position: absolute;
	top: 0;
	width: 100%; height: 69px; /* double check that this height aligns complimentary with the "menu-toc" BG */
	z-index: 500;
	border-bottom: 1px #666666 solid;
	}



/* ------- Client Custom Branding Elements ------- */
/* ------- Client Custom Branding Elements ------- */
/* ------- Client Custom Branding Elements ------- */
/* ------- Client Custom Branding Elements ------- */



/* Featured "Hero & Mini" Headers  */

.featured_header_hero,
.featured_header_mini { 
	background: /*#fbf293*/ #b4e2f9;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #e7f5ff)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #e7f5ff 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #e7f5ff 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #e7f5ff 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #e7f5ff 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #e7f5ff 100%);
	
	margin: 0;				
	padding: 0;
	width: 100%;
	}
	
.featured_header_hero { background: #fbf293; }			


.fh_wrap { margin: 0 auto; width: 974px; }
			
	

.fh_hero {
	background-image: url("../img/CLIENT-SPECIFIC-IMAGES__rename-to-brand/header_hero_vmware_datacenter.png");
	height: 190px;
	background-repeat: no-repeat;
	background-size: 424px 190px;
	background-position: 450px 0px;
	padding: 22px 25px 0; 
	}

.fh_hero h3,		
.fh_hero p { 
	color: #0f4ea1;
	padding-left: ;
	position: relative;
	top: 0.75em; left: 1em; 
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5); 
	width: 450px;
	}
.fh_hero h3 { 
	font-size: 1.75em; 
	letter-spacing: -0.01em; 
	line-height: 1.2em;
	margin-bottom: 0;
	}	
.fh_hero p { 
	font-size: 1.1em; 
	line-height: 1.4em; 
	margin: 0; 
	top: -5px;
	}


.fh_mini { height: /*90px*/; }
		
.fh_mini p {
	color: /*RED */#006990;
	display: inline-block; /* corrects the top alignment to be flush against the nav; weird fix */
	font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	margin: 0; 
	/*padding: 0; 
	position: relative;
	top: 25px; left: 5%;
	width: 34%; */
	}


.body_content_wrap { padding-top: 10px; }




/* ------- Body Content Area -------  */
	
	
.js .content {
		position: absolute;
	top: 60px;
		left: 0;
		width: 100%;
		bottom: 50px;
		overflow: hidden;
		-webkit-font-smoothing: subpixel-antialiased;
}


.js .content {
	overflow: hidden;
	position: absolute;
	top: 0px; /* adjusts the space between the top of the body area and the bottom of the main-nav system (masthead area) */
	left: 0; 
	bottom: 50px;
	width: 100%;	
	-webkit-font-smoothing: subpixel-antialiased;
	}

.scroller { padding: 10px 5%; }



/* ------- Transparent Fade-out for Body Content -------  */

/*.js .content:before,*/
.js .content:after {
	content: '';
	pointer-events: none;
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 20px;
	z-index: 100;
	
	background: -webkit-linear-gradient(bottom, rgba(225,225,225,1) 0%, rgba(225,225,225,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(225,225,225,1) 0%, rgba(225,225,225,0) 100%);
	background: -o-linear-gradient(bottom, rgba(225,225,225,1) 0%, rgba(225,225,225,0) 100%);
	background: linear-gradient(to top, rgba(225,225,225,1) 0%, rgba(225,225,225,0) 100%);
	}

/* */
.js .content:before {
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	}

/**/
.js .content:after {
	top: auto;
	bottom: 0;

	background: -webkit-linear-gradient(bottom, rgba(225,225,225,1) 0%, rgba(225,225,225,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(225,225,225,1) 0%, rgba(225,225,225,0) 100%);
	background: -o-linear-gradient(bottom, rgba(225,225,225,1) 0%, rgba(225,225,225,0) 100%);
	background: linear-gradient(to top, rgba(225,225,225,1) 0%, rgba(225,225,225,0) 100%);
	}
	
	

/* ------- 2-Column Page Layout -------  */

.left-column,
.right-column { 
	padding-bottom: 55px; /* ensures gradient doesn't cut-off any content */
	width: 50%;
	} 

.left-column { 
	float: left;
	padding-right: 2.5%; /* 2.5% or 5% ??? see 1st responsive tier 1025px */
	}

.right-column { 
	float: right;
	padding-left: 5%;
	}











/************************************
	TYPOGRAPHY
************************************/



a { color: #555; text-decoration: none; outline: none; }
a:hover { color: #000; }

/* this styles only the body area text links hover state; comment out to disable */
.content a:hover { text-decoration: underline; }


.no-js .content h2 { padding: 40px 1% 20px; }

.content p {
	font-size: 1.1em;
	line-height: 1.4em; 
	margin: 0 0 1em;
	/*padding: 5px 0 0 10%;  modify this to adjust side margins WITHIN the content layer */
	text-align: left;
	text-indent: 0em;
	}
.right-column p { text-indent: 0; }



/* ------- Header Styles ------- */

h1 {}
h2, h3, h4, h5, h6 {
	color: #006990; /*#333333*/
	font-family: "Proxima-Nova SemiBold", Helvetica, Arial, sans-serif;
	font-weight: ;
	line-height: 1.25em; 
	padding: 0.75em 0 1.25em;
	text-align: left;
	}

/* set in "ems" for optimial scalibity, especially for mobile devices; it's pixel equlivent is denoted to the right, based on a standard 16px base web-browser pixel size */ 
h1 { font-size: 2.350em; /* 36px */ }	
h2 { font-size: 1.400em; /* 24px */ }
h3 { font-size: 1.313em; /* 21px */}
h4 { font-size: 1.125em; /* 18px */ }
h5 { font-size: 0.930em; /* 15px */ }
h6 { font-size: 0.750em; /* 12px */ }


.content h2 { font-size: 1.700em; font-weight: bold; }


/* styles the margin space for all the headers */
.content h1, .left-column h1, 
.content h2, .left-column h2, 
.content h3, .left-column h3, 
.content h4, .left-column h4, 
.content h5, .left-column h5, 
.content h6, .left-column h6 { margin: 0.5em 0 0em; }



/* ------- List Styles ------- */

.content ol,
.content ul { 
	font-size: 1em;
	font-style: normal;
	line-height: 1.1em;
	list-style-position: outside;
	margin: 1.5em 0;
	padding-right: 2em;
	position: relative;
	left: 40px;
 	}
.content ol li, 
.content ul li { color: #333; margin-bottom: 0.7em; }

.right-column ol,
.right-column ul { 
	font-size: 0.9em; 
	}
.right-column ol li, 
.right-column ul li {
	color: DimGray;
	}
	
/* bullet marker styles for nested lists */
ul { list-style-type: disc; }
ul ul { list-style-type: circle; }
ul ul ul { list-style-type: square; }
ul ul ul ul { list-style-type: disc; }

ol { list-style-type: decimal; }
ol ol { list-style-type: upper-alpha; }
ol ol ol { list-style-type: upper-roman; }
ol ol ol ol { list-style-type: lower-alpha; }
ol ol ol ol ol { list-style-type: lower-roman; }	

/* global margins for nested list sets */
ol ol, ul ul, 
ol ol ol, ul ul ul,
ol ol ol ol, ul ul ul ul { margin-top: 0.65em; }




/* ------- MISC. styles ------- */

blockquote {
	color: SteelBlue;
	font-size: 1.4em;
	font-style:italic;
	font-weight: bold;
	line-height: 1.1em;
	margin: 1.25em 0 1em;
	text-shadow: 1px 1px #F1F3F5;
	}

cite { text-transform: capitalize; font-size: 0.75em; color: #999; }

q { font-style:italic; }

code {
	background: Gainsboro;
	border-radius: 4px;
	color: white;
	font: normal 85%/1.1em monospace, "Century Gothic", Tahoma, Cambria, "Courier New", Courier, monospace;
	padding: 0 0.25em;
	}

pre code {
	background: #f2f1a9 url(../img/line-bg.png) 0 7px;
	border: 1px solid #e8e3b8;
	border-bottom: 1px solid #d9d4a8;
	clear: both;
	color: DarkGoldenRod;
	display: block;
	font-size: 80%;
	line-height: 140%;
	overflow-x: auto;
	padding: 2% 2.5%;
	margin: 0;
	width: 95%;
	}

del { color: DarkGray; }

big { font-size: 125%; }
	
small { 
	font-size: 70%; 
	font-style: italic; 
	line-height: 0.5em;
	}

sub, sup {
	font-size: 85%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	}
sub { bottom: -0.25em; }
sup { top: -0.3em; }


/* these styles are hyper-specific for the body content area only; can discard if desired */
.content p em { color:; }
.content p strong { color:; }






/************************************
	RIGHT-RAIL MODULES
************************************/

/* use this class to universally control the top start placement of the set of modules */
.module-height { padding-top: 60px; /* 88px or 10% */ }
.module-height_intro { padding-top: 20px;}

.moduleStyle1 {
	border-spacing: 0;
	float: right;
	margin: 0 0 0.5em;
	padding: 0;
	width: 95%;
	}
	
.module_text_wrapper {
	display: block;
	float: left;
	position: relative; top: 0.75em;
	width: 65%;
	}

.module_icon {
	float: left;
	padding: 14px 0 6px;
	margin: 0 0.5em 0 0;
	text-align: left;
	width: 60px; height: auto;
	}
	
.moduleStyle1 h4 { /* this styles the box header titles, if present */
	color: #999999;
	font: normal 100%/1.25em "Proxima-Nova SemiBold", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-transform: uppercase; /* so you don't have to worry about being case-senstive on the HTML side */
	}
	
/* Centralizes the styles of the right-rail body copy */ 
.moduleStyle1 p,
.moduleStyle2 p,
.moduleStyle3 p { 
	font: normal 100%/1.125em "Proxima-Nova", Helvetica, Arial, sans-serif;
	margin: 0.25em 0 1.25em;
	vertical-align: top;
	}	


/* ------- ModuleStyle-1 Hyperlink Styles ------- */
	
.moduleStyle1 p a:link,
.moduleStyle1 p a:visited {
	color: #1896d1;
	text-decoration: none;
	}
.moduleStyle1 p a:hover,
.moduleStyle1 p a:active {
	color: #096a8e;
	text-decoration: none;
	}









/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* --- Additional Code Specs --- */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */




/**************************************************************
	!!!TESTING AREA ONLY!!! (turn on/off as needed)
************************************************************* 


body { background: FloralWhite; }

#masthead { background: Gainsboro; }
.masthead_wrap { background: LightGrey; }
.logo { background: LightSlateGray; }
.bg-header { background-image: none;}

.container { background: PaleGreen; }

.menu-panel { background: DarkSalmon; }

.scroller { background: LightSteelBlue; }

.left-column { background: Lavender; }
.right-column { background: LavenderBlush; } 

.social_module { background: Gainsboro; }

.moduleStyle1 { background: Khaki; }
.module_icon { background: PaleGreen; }
.module_text_wrapper { background: SkyBlue; }

.js .content:before,
.js .content:after {	
	background: -webkit-linear-gradient(top, rgba(5,5,5,1) 0%, rgba(5,5,5,0) 100%);
	background: -moz-linear-gradient(top, rgba(5,5,5,1) 0%, rgba(5,5,5,0) 100%);
	background: -o-linear-gradient(top, rgba(5,5,5,1) 0%, rgba(5,5,5,0) 100%);
	background: linear-gradient(to bottom, rgba(5,5,5,1) 0%, rgba(5,5,5,0) 100%);	
	}
.js .content:after {
	background: -webkit-linear-gradient(bottom, rgba(5,5,5,1) 0%, rgba(5,5,5,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(5,5,5,1) 0%, rgba(5,5,5,0) 100%);
	background: -o-linear-gradient(botxom, rgba(5,5,5,1) 0%, rgba(5,5,5,0) 100%);
	background: linear-gradient(to top, rgba(5,5,5,1) 0%, rgba(5,5,5,0) 100%);
	}


#featured_header_bg { background: HotPink; } 

body, .content { background: ; }

*/





/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* -- Responsive Web Section -- */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - */


/* 64.063em = 1025px -- Targeting Desktop screens and up */
@media screen and (min-width: 64.063em) { 

	.bb-custom-wrapper { width: 100%; }
	.bb-custom-wrapper { margin: 0 auto; }
	
	/* set the left & right padding to "0" to make it evenly flushed with the header's current max-width */
	.scroller { padding: 0; }
	
	.body_content_wrap { width: 974px; margin: 0 auto; }

}


/* 1024px = 64.00em -- Targeting various tablet devices and desktop screens */
@media screen and (max-width: 1024px) {

	.scroller { padding: 0; }
	
	.body_content_wrap { width: 90%; margin: 0 auto; }

}


@media screen and (max-width: 980px){

	#masthead {  width: 100%; }
	
	.logo { margin-right: 10%; }
	
}

@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}

@media screen and (max-width: 400px){
	.menu-panel,
	.content {
		font-size: 75%;
	}
}